<div ng-controller="myController">
    <div class="row col-sm-8 top-buffer" id="stock_list">
      <table class="row col-sm-10 table-striped" id="stock_list">
        <thead>
          <tr>
            <th>Stock</th>
            <th>High</th>
            <th>Low</th>
            <th>Last Sale</th>
            <th colspan="2">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>NASDAQ:AMZN</td>
            <td>$201.52</td>
            <td>$198.23</td>
            <td>$200.11</td>
            <td><a href="#" class="btn btn-success">Buy</a></td>
            <td><button class="btn btn-danger">Sell</button></td>
          </tr>
          <tr>
            <td>NASDAQ:FB</td>
            <td>$105.52</td>
            <td>$94.24</td>
            <td>$101.11</td>
            <td><button class="btn btn-success">Buy</button></td>
            <td><button class="btn btn-danger">Sell</button></td>
          </tr>
          <tr>
            <td>NASDAQ:MSFT</td>
            <td>$80.52</td>
            <td>$71.23</td>
            <td>$88.55</td>
            <td><button class="btn btn-success">Buy</button></td>
            <td><button class="btn btn-danger">Sell</button></td>
          </tr>
        </tbody>
      </table>
      <div class="row">
        <form action="callCgi()">
          <label for="cgi">CGI TEST</label>
          <input type="text" ng-model='cgi_param'>
          <button type='submit' class="btn btn-primary">Hope this works</button>
        </form>
      </div>
    </div>
</div>
